@import "tailwindcss";

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: oklch(96.8% 0.007 247.896);
  background: oklch(27.9% 0.041 260.031);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* * {
  outline: 1px solid red;
} */
